p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.infobox {
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
  border: 2px solid black;
  border-radius: 10px;
  background: white 5px center/3em no-repeat;
  clear:right;
}

.book .book-body .page-wrapper .page-inner section.normal .infobox p {
  margin-bottom: 0px;
}

.info {
  padding-left: 4em;
  border: 2px solid #19bc9b;
  background-image: url("images/information-fill.svg");
}

.book .book-body .page-wrapper .page-inner section.normal img {
  border: 2px solid grey;
}

.two-col {
  clear:both;
}

.two-col .figure{
  float: right;
  max-width:40%;
  clear:right;
}


.two-col .figure .caption{
  line-height: 1.1;
  text-align: right;
  clear:right;
  padding-top:.5em;
}
  

.two-col .figure .lb-fig{
  float:right;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  clear:right;
}

.level4 .header-section-number {
  display:none;
}

.figure .caption {
  font-size:small;
}

.three-col {
  clear:right;
  display: flex;
}

.three-col .figure{
  float: ;
  max-width:40%;
  clear:;
  padding-right:.5em;
  display:table;
}

.three-col .figure .caption {
  display: table-caption;
  caption-side: top;
  margin-top:.5em;
  margin-bottom:0em !important;
  text-align:left;
}
